<div class="men-container">
    <h2>Men's Sneakers</h2>
    <div class="sneaker-list">
      <div class="sneaker-item">
        <img src="assets/image/MenShoe1.jpeg" alt="Men's Sneaker 1">
        <h3>Sneaker Model 1</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      
      <div class="sneaker-item">
        <img src="assets/image/MenShoe2.jpeg" alt="Men's Sneaker 2">
        <h3>Sneaker Model 2</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>

      <div class="sneaker-item">
        <img src="assets/image/MenShoe4.jpeg" alt="Men's Sneaker 2">
        <h3>Sneaker Model 3</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>

      <div class="sneaker-item">
        <img src="assets/image/MenShoe1.jpeg" alt="Men's Sneaker 1">
        <h3>Sneaker Model 4</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      
      <div class="sneaker-item">
        <img src="assets/image/MenShoe2.jpeg" alt="Men's Sneaker 2">
        <h3>Sneaker Model 5</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>

      <div class="sneaker-item">
        <img src="assets/image/MenShoe4.jpeg" alt="Men's Sneaker 2">
        <h3>Sneaker Model 6</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
  
