<div class="navbar">
    <div class="logo">
      <a routerLink="/">Sneaker Carter</a>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/men">Men</a></li>
        <li><a routerLink="/women">Woman</a></li>
        <li><a routerLink="/sale">Sale</a></li>
      </ul>
      </div>
      <div class="secondMenu">
        <ul>
            <li><a routerLink="/register">Register |</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>
    </div>
  </div>
  
  