<div class="navbar">
    <div class="logo">
      <a routerLink="/">Sneaker Carter</a>
    </div>
    <div class="menu">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/products">Men</a></li>
        <li><a routerLink="/cart">Woman</a></li>
        <li><a routerLink="/checkout">Sale</a></li>
      </ul>
      </div>
      <div class="secondMenu">
        <ul>
            <li a routerLink="/">Register |</li>
            
            <li><a routerLink="/">Login</a></li>
        </ul>
    </div>
  </div>
  
  