<div class="container">
    <section class="hero">
      <h1>Welcome to Sneaker Carter</h1>
      <p>Discover the latest sneaker trends and shop your style.</p>
      <a routerLink="#" class="cta-button">Shop Now</a>
    </section>
    <section class="featured-products">
      <h2>Featured Products</h2>
      <div class="product-card">
        <img src="assets/image/Me.webp" alt="Product 1">
        <h3>Men</h3>
        <a routerLink="#" class="cta-button">View Products</a>
      </div>
  
      <div class="product-card">
        <img src="assets/image/WomanSneakers.png" alt="Product 2">
        <h3>Women</h3>
        <a routerLink="#" class="cta-button">View Products</a>
      </div>
  
    </section>
  </div>
  