.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .hero {
    text-align: center;
    padding: 100px 0;
    background-image: url('src/assets/image/HomePageSneaker.jpeg');
    background-repeat: no-repeat;
    animation: moveBackground 20s linear infinite;
    
}
@keyframes moveBackground {
    0% {
      background-position: center;
    }
    25% {
      background-position: top left;
    }
    50% {
      background-position: top right;
    }
    75% {
      background-position: bottom right;
    }
    100% {
      background-position: bottom left;
    }
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #22668D;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #FFCC70;
  }
  
  .featured-products {
    text-align: center;
    margin-top: 50px;
  }
  
  .featured-products h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
  
  .product-card {
    display: inline-block;
    margin: 20px;
    text-align: center;
    width: 400px; 
  }
  
  .product-card img {
    max-width: 100%;
    width: 500px;
    height: 300px;
  }
  
  
  .product-card h3 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  