<div class="women-container">
    <h2>Women's Sneakers</h2>
    <div class="sneaker-list">
      <div class="sneaker-item">
        <img src="assets/image/Womanshoes1.jpeg" alt="Women's Sneaker 1">
        <h3>Sneaker Model 1</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      <div class="sneaker-item">
        <img src="assets/image/WomanShoes2.webp" alt="Women's Sneaker 2">
        <h3>Sneaker Model 2</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      <div class="sneaker-item">
        <img src="assets/image/Womanshoes1.jpeg" alt="Women's Sneaker 1">
        <h3>Sneaker Model 1</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      <div class="sneaker-item">
        <img src="assets/image/WomanShoes2.webp" alt="Women's Sneaker 2">
        <h3>Sneaker Model 2</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      <div class="sneaker-item">
        <img src="assets/image/Womanshoes1.jpeg" alt="Women's Sneaker 1">
        <h3>Sneaker Model 1</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
      <div class="sneaker-item">
        <img src="assets/image/WomanShoes2.webp" alt="Women's Sneaker 2">
        <h3>Sneaker Model 2</h3>
        <p>Price: R100</p>
        <button>Add to Cart</button>
      </div>
    </div>
  </div>
  